doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/lib/angular-material/angular-material.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='initial-scale=1')
  body(layout='column')
    block content
    script(type='text/javascript',data-main='js/main',src='js/lib/require/require.js')